extends layout

block content
    .board-update
        if user.id
            .input-group
                span 제목 :
                    .board-detail-name(name='boardnameUpdate')=detail.boardName
                    input.my-id(type="hidden" value=user.id)
                .board-detail-text(name='boardtextUpdate')
                input#test22(type="hidden" value=detail.boardText)
                button.post_detail_but(type='button')
                    a(href="/board" ) 완료
            .image-group
    script.
        function Rete(Text){
            return Text.boardText;
        }
        var detail = !{JSON.stringify(detail)};
        document.querySelector('.board-detail-text').innerHTML = Rete(detail);
        for(i=0;i<=detail.imageUrls.length-1;i++){
            var img = document.querySelector('.image-group');
            var create = document.createElement('img');
            create.setAttribute('class','detail_Img_class');
            create.src =detail.imageUrls[i].imageUrl;
            img.appendChild(create);
        }