extends layout

block content
    section.board1_update
        h4 board1 update
    section.board2_update
        h4 board2 update
    section.board3_update
        h4 board3 update
    section.board4_update
        h4 board4 update