extends layout

block content
    section#section1
        .section1_content.pad
            h1 Let me introduce myself
    section#section2
        .section2_content.pad
            .content_image
                img(src="/dasd62ksdha8a.jpg")
                img(src="/dongchi.jpg")
            .content_infomation 
                p Hello, my name is Odonghyeong and I am 23 years old. I attending the Department of Computer Science at Anyang university.
                p Korean men are obliged to go to the army but i were not went to the army. Instead, i worked at City Hall.
                br

                p I worked in the tax department of City Hall. I felt many things working at City Hall and got a lot of things.
                p There was something I wanted to do when I worked at City Hall. 
                br

                p First, I wanted to develop a program that automatically draw up documents when I work in the tax department of City Hall. 
                p Because, i enter the same document every day.
                br
                
                p Second, I wanted to develop a program that a well-organized about taxes information.
                p Because people ask the same question every time.
                br

                p So, i decided to make these programs, i started studying programming language.
                p Maybe, this is why I want to be a programmer.