extends layout

block content
    .body-div
        .login-box
            form.login-form(action="/auth/login" method='post')
                h1.login-form-logo Login
                .input-box
                    label(for='login-email') email : 
                    input(name='email' placeholder='example@naver.com' type='email')
                .input-box
                    label(for='login-password') PassWord : 
                    input(name='password' placeholder='PassWord' type='password')
                if loginError
                    .error-message=loginError
                .submit-box
                    button.signIn_but(type='submit') Login