extends layout

block content
    .stack-information
        .stack-information2
            section#stack-section1.padd
                h1 Dongchi stack 소개
                .infoimg
                    img(src="Javascript.png")
                    img(src="nodejsLogo.png")
                    img(src="Mysql.png")
                    img(src="Express.png")
            section#stack-section1.padd
                h2 Node.js
                hr
                img(src="/nodejsLogo.png")
                p 저는 SSS(Server Side Script)로 nodejs를 사용했습니다.
                p nodejs는 기존 javascript를 프론트 엔드에서만 사용하는 것이 아닌 백엔드에서도 사용할 수 있게 하기위해서 만들어진 것이 nodejs입니다.
                p nodejs는 javascript를 사용해본 사람이라면 문법을 봤을 때 친근하게 느껴집니다. 왜냐하면 javascript에서 백엔드 사용을 목적으로 만들어졌기 때문에 문법은 우리에게 매우 친근합니다.
                p nodejs는 터미널프로그램(윈도우의 cmd, 맥의 terminal등)에서 node js 프로그램을 브라우저 없이 바로 실행할 수 있습니다.
            section#stack-section2.padd
                h2 Express.js
                hr
                img(src="Express.png")
                p 저는 nodejs의 웹프레임워크인 Express.js를 사용하였습니다.
                p Express.js는 노드(NodeJS) 상에서 동작하는 웹 개발 프레임웍입니다. 이외에도 Hapi.js, Koa.js 등 다양한 웹프레임웍이 있지만 현재까지 가장 많이 사용하는 것이 바로 익스프레스 엔진입니다.
                p Express.js는 가볍고 유연해서 좋습니다. Express는 nodejs 표준 프레임워크라 해도 과언이 아닙니다.
            section#stack-section3.padd
                h2 Javascript
                hr
                img(src="Javascript.png")
                p 저는 Pure Javascript 사용자입니다. 새롭게 릴리즈 되고 있는 자바스크립트를 사용합니다.
                p Pure javascript를 사용하는 이유는 새롭게 바뀌고 있고 그리고 많은 라이브러리가 있지만 그 라이브러리들의 기초가 되는 원래의 javascript를 잘 알아야 한다고 생각하기 때문입니다.
                p javascript가 많이 익숙해지고 잊어버리지 않는 시기가 온다면 그 때는 다른 라이브러리들을 배울려고 합니다.
                p 후에 저는 Vue.js, React.js, Redux.js, Webpack4를 공부할려고 합니다.
            section#stack-section4.padd
                h2 Mysql
                hr
                img(src="Mysql.png")
                p 저는 제 서버의 기반 Database로 Mysql를 사용하였습니다. 
                p 이유는 가장 대중적이고 가장 흔한 DB이고 가장 널리 알려져서 커뮤니티가 커서 오류를 잡을 때 쉽기 때문입니다.
                p 또한 배우고 운영하기가 쉽고 구조가 간단하여 속도가 빠릅니다. 그리고 지원되는게 많으며 유연하고 확장성이 넓어서 좋습니다.
                p 개인 개발 하는데 있어서 저는 Mysql를 사용을 지향합니다.